@font-face {
    font-family: "Souvenir";
    src: url(../assets/fonts/Souvenir_Greek_Demi_BT.ttf);
}

::-webkit-scrollbar {
    display: none;
}


/*fadeIn*/
.fadeIn {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

/*jumbotron*/
#textField {
    display: none;
}

input {
    border: 1px solid #fff;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    font-size: inherit;
}

h1 {
    font-family: "Souvenir";
    font-size: 70px;
    color: black;
}

.wavy {
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes wavy {
    0% {
        top: 0px;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0px;
    }
}

/*reperes
.row {
    border: 1px solid #7451EB;
    padding: 3px;
}

[class^="col"] {
    padding: 1rem;
    border: 2px solid #3FA5DB;
}
*/

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
}


h2 {
    font-size: 50px;
    font-family: "Souvenir";
}

h3 {
    font-family: "Souvenir";
}

h4 {
    font-family: "Souvenir";
}

h5 {
    font-family: "Souvenir";
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

a:link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    color: black;
}

.nav-item:hover {
    border-top: black solid 2px;
}

/*nav*/

#logo {
    width: 30vh;

}

nav {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.jumbotron {
    background-image: url(../assets/png/illu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*aPropos*/



#moi {
    margin-top: 10%;
}

.aPropos {
    margin-top: 10%;
    font-size: 25px;
}

.more {
    margin-bottom: 10%;
}

/*compétences*/


#gradient {
    margin-top: 5%;
    margin-bottom: 5%;
}

.skills {
    background: linear-gradient(#c19ab7ff, #9c95dcff);
}

.strass {
    width: 5vh;
}

.card {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid #ffffff2e;
    width: 80%;
    height: 80%;
    margin-left: 15px;
}


/*boutonAnimé*/

#bouton {
    width: 30%;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;

}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}


ul {
    list-style: none;
}

/*carroussel*/

.titreReal {
    padding-top: 10%;
    text-align: center;
}

#boutonID {
    margin-top: 10%;
}

.carousel-caption {
    background-color: black;
    opacity: 0.5;
}

/*form*/
.form {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15px;
}

/*footer*/
footer {
    padding-top: 5%;
    background: linear-gradient(#c19ab7ff, #9c95dcff);
}

.socials {
    width: 5vh;
}

#logoPlanete {
    width: 15vh;
}

/*identité visuelle*/

.main {
    background-color: #EEE3EB;
}

.titleP {
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 10%;
}

#croquis {
    width: 50%;
    margin-left: 10%;
}

#illus {
    width: 90%;
}

#palette {
    width: 50%;
}

.palette {
    text-align: center;
    margin-top: 10%;
}

.illustrations {
    margin-top: 10%;
}

#cloud {
    margin-left: 50%;
}

#pinterest {
    width: 100%;
}

#inspo {
    width: 100%;
}

.plancheLogo {
    width: 80%;
}

#mockup {
    width: 60%;
    margin-left: 20%;
}

#boutonPDF {
    margin-bottom: 10%;
    margin-top: 10%;
}

/*mediaqueries*/

@media screen and (max-width: 992px) {
    .card {
        flex-direction: column;
        height: fit-content;
        width: 100%;
        padding: 0%;
        margin: 0%;
    }

    .illustrations {
        flex-direction: column;
        margin-left: 0;
        width: 50%;
    }

    h1 {
        font-size: 80px;
    }

    #boho {
        width: 100%;
    }

    body {
        padding-left: 15px;
        padding-right: 15px;
    }

    #cloud {
        width: 50%;
    }

}

/*scroll*/

#coffee {
    width: 60%;
}

#couple {
    width: 100%;
}

#cute {
    width: 100%;
    height: 85%;
}

#portrait {
    width: 90%;
}

#bd {
    width: 90%;
}

#water {
    width: 50%;
}

.couple {
    margin: 50px;
    text-align: center;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.bumper {
    text-align: center;
    padding: 128px 16px;
    background-color: white;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.space-holder {
    position: relative;
    width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
}

.cards {
    position: relative;
    height: 100%;
    padding: 0 0 0 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.sample-card {
    position: relative;
    height: 80vh;
    width: 100vw;
    background-color: white;
    margin-right: 75px;
    flex-shrink: 0;
}

.zoom {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
